<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Borrar Carta</ion-title>
    <ion-buttons slot="end">
      <ion-back-button [routerLink]="['/lista-gwent']">Volver</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ID #{{ gwentEli.id }}</ion-card-subtitle>
      <ion-card-title>desea eliminar la carta: {{ gwentEli.nombre }} ?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="eliminarGwent()" expand="block" color="danger">Eliminar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
